@page
@model WebServer.Pages.IndexModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Download APK</title>
</head>
<body>
    <h1>Download Our Android App!</h1>
    <p>
        Click The Link Below.
    </p>
    <a href="/Data/MauiApp.apk" download="sample_APK.cs">Download APK</a>
</body>
</html>

@{
}
